*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body{
  font-family: 'Montserrat', sans-serif;
}



 .row{
  display: flex;
  padding:20px;
  
}

.col-4{
  width: 50%;
  float: left;
  padding: 20px;

}

.video{
  height: 100%;
  width: 100%;
}



@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  section{
    padding:2rem;
  }

}
@media (max-width:450px){

  html{
    font-size: 50%;
  }
}